<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}" >
    <title>умный дом по русски</title>
</head>

<body>
    <main align="center">
        <div class="never">
            <img src="https://static.tehnika39.ru/img/p/8/2/4/4/2/82442-large_default.jpg" alt="">
            <div>
                <a href="start/" class="glow-on-hover">Нажми для запуска чайника</a>
            </div>
        </div>
    </main>
</body>

</html>